<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What's For Dinner?</title>
<<<<<<< HEAD
  <link rel="stylesheet" href="stylesheets/style.css">
=======
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
>>>>>>> 618a2fc7700e3774e6eb927f9e28717ab35303fa
</head>

<body>
    <header>
      <h1>
        <a href="/">What's For Dinner?</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
      

    <main>
      {{{ body }}}
    </main>
    <div class= "footer">
      Thanks for visiting!
    </div>


</body>
</html>