<section class="dashboard">
    <h2>Add A New Recipe</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title" class="text">Title:</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        {{!-- <div>
            <label for="post-ingredients" class="text">Ingredients:</label>
            <input id="post-ingredients" name="post-ingredients" />
        </div> --}}
        <div>
            <label for="post-directions" class="text">Directions:</label>
            <textarea id="post-directions" name="post-directions"/>
        </div>
        <button type="submit" class="button">Create</button>
    </form>
</section>

{{#if recipe.length}}
<section>
    <h2>Your Recipes</h2>
    <ol>
        {{#each recipe as |recipe|}}
        <li>
            {{> post-info recipe}}
            <a href="/dashboard/edit/{{recipe.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>