<div class="forms">
<div id="login-error" class="hidden">somthing</div>
<form class="login-form">
  <div>
    <label for="email-login" class="label">email:</label>
    <input type="text" id="email-login" name="email" />
  </div>
  <div>
    <label for="password-login" class="label">password:</label>
    <input type="password" id="password-login" name="password" />
  </div>
  <div>
    <button type="submit" class="button">login</button>
  </div>
</form>

<div id="signup-error" class="hidden">something</div>
<form class="signup-form">
  <div>
    <label for="username-signup" class="label">username:</label>
    <input type="text" id="username-signup" name="username"/>
  </div>
  <div>
    <label for="email-signup" class="label">email:</label>
    <input type="text" id="email-signup" name="email" />
  </div>
  <div>
    <label for="password-signup" class="label">password:</label>
    <input type="password" id="password-signup" name="password"/>
  </div>
  <div>
    <button type="submit" class="button" class="label">signup</button>
  </div>
  </div>
</form>

<script src="/javascript/login.js"></script>