<div class="forms">
<form class="login-form">
  <div>
    <label for="email-login" class="label">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login" class="label">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="button">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup" class="label">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup" class="label">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup" class="label">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="button">signup</button>
  </div>
</form>
</div>
<script src="/javascript/login.js"></script>