<div class="for-loggin">
  <div id="login-error" class="hidden">something</div>
  <h2>Log In</h2>
  <div class="login-content">
    <form class="login-form">
      <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" name="email" />
      </div>
    <div>
      <label for="password-login">password:</label>
      <input type="password" id="password-login" name="password" />
  </div>
  <div class="center">
    <button type="submit">login</button>
    </div>
  </form>
  </div>

</div>

<div class="for-signup">
  <div id="signup-error" class="hidden">something</div>
  <h2>Sign Up</h2>
  <div class="signup-content">
    <form class="signup-form">
      <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" name="username"/>
      </div>
      <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" name="email" />
      </div>
      <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" name="password"/>
      </div>
      <div class="center">
        <button type="submit">signup</button>
      </div>
    </form>
  </div>
</div>


<script src="/javascript/login.js"></script>