{{> post-info post}}
{{!-- need recipe model to complete this part
<div class="ingredients">
    <ul class="ingredients-list">

    </ul>
</div>
<div class="directions">
<ol class="directions-list">
    <li>

    </li>
</ol> --}}



{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Comment</button>
    
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}