
{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <input type="hidden" value="{{post.id}}" name="recipe_id">
  <div>
    <textarea name="comment_text"></textarea>
  </div>

  <div>
    <button type="submit" class="button">Comment</button>
    
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}