a:link {
    color:white;
    text-decoration: none;
  }
  
  a:visited {
    color: wheat;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  .button {
      background-color: wheat;
      border-radius: 25px;
  }

  .label {
      color:white;
      font-weight: bold;
      
  }
  div.forms
  {
      display: block;
      text-align: center;
  }
  form
  {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
  }
:focus {
    outline: none;
}
  input{
    
    padding: 12px px;
    margin: 8px 0;
    border-radius: 25px;
    
  }

  .login-form{
    margin-top: 10px;
    margin-right: 15px;
  }

  .signup-form {
      margin-top: 150px;
  }

  html { 
    background: url(https://www.englishclub.com/images/vocabulary/food/italian/italian-food-1024.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
    color: white;
    text-align: center;
  } 
