
 body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background: url("https://www.englishclub.com/images/vocabulary/food/italian/italian-food-1024.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
    color: white;
    text-align: center;
  }